.card {
  position: relative;
  background-color: white;
  width: 600px;
  height: 50vh;
  max-width: 85vh;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
}
.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.swipe {
  position: absolute;
}
.card h3 {
  position: absolute;
  bottom: 10px;
  color: #fff;
}
@media screen and (max-width: 440px) {
  .card {
    width: 300px;
  }
}
